*{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    background-size: 100vh;
}



form input,form button{
    padding: 0.5rem;
    margin: 5px;
}
form button{
    cursor: pointer;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    list-style: none;
    min-width: 30%;
}
.todo{
    margin: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    font-size: 20px;
}


.todo li{
    flex: 1;
   
}

.verifie-btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    /* cursor: pointer; */
}

.save-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.suppr-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.todo-item{

    padding: 0rem 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-end;
  

  
}

/* .suppr-btn,.verifie-btn{
    pointer-events: none;
} */

.do,.toDo,.all{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;

}
.clearBtn{
    padding: 10px 200px ;
}

.completed{
    text-decoration: line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: blue;
}